body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
:root {
  --primary-font: "Roboto", sans-serif;
  --logo-color: #4d5ae5;
  --text-color: #2e2f42;
}
.header-title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-color);
}
.link {
  text-decoration: none;
}
.logo-word {
  color: var(--text-color);
}
.list {
  list-style: none;
}
.header-menu {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
}
.header-contacts {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
}
.header-link:focus {
  color: #404bbf;
}
.address {
  font-style: normal;
}
.header-link:hover {
  color: #404bbf;
}
.header-link:active {
  color: #434455;
}
.header-link {
  color: var(--text-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.header-contacts-item {
  color: #434455;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
}
.header-contacts-item :hover {
  color: #404bbf;
}
.header-contacts-item :focus {
  color: #404bbf;
}
.header-menu-item {
  text-decoration: none;
}
.header-contacts-item {
  text-decoration: none;
}
.hero {
  background-color: #2e2f42;
  line-height: 1.07;
}
.header-link link {
  text-decoration: none;
}
.hero-btn {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}
.hero-btn:hover {
  background-color: #404bbf;
}
.hero-btn:focus {
  background-color: #404bbf;
}
.hero-name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.header-nav link {
  text-decoration: none;
}
.header-title link {
  text-decoration: none;
}
.header-contacts-item:hover {
  color: #404bbf;
}
.header-contacts-item:focus {
  color: #404bbf;
}
.benefits-item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  list-style-type: none;
}
.benefits-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}
.job-name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  text-align: center;
}
.job-img {
  list-style-type: none;
}
.footer-logo-name {
  color: #f4f4fd;
}
.team-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  text-align: center;
}
.team-item {
  list-style-type: none;
}
.team-item-links {
  background-color: #ffffff;
}
.team {
  background-color: #f4f4fd;
}
.team-name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.team-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}
.footer {
  background-color: #2e2f42;
}
.footer-logo-name {
  color: #f4f4fd;
}
.footer-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

/* Porfolio */
.portfolio-button-item {
  background-color: #f4f4fd;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  text-decoration: none;
  cursor: pointer;
}
.portfolio-button-item:hover {
  background-color: #404bbf;
  color: #ffffff;
}
.portfolio-button-item:focus {
  background-color: #404bbf;
  color: #ffffff;
}
.portfolio-button-item:active {
  background-color: #404bbf;
  color: #ffffff;
}
.portfolio-button-list {
  list-style-type: none;
}
.main-list {
  list-style-type: none;
}
.main-list-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.main-list-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}
