body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
:root {
  --primary-font: "Roboto", sans-serif;
  --logo-color: #4d5ae5;
  --text-color: #2e2f42;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}
img {
  display: block;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e7e9fc;
}

.header-title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-color);
  margin-right: 76px;
}

.nav-link {
  display: flex;
  gap: 40px;
}

.link {
  text-decoration: none;
}
.logo-word {
  color: var(--text-color);
}
.list {
  list-style: none;
}
.header-menu {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
}
.header-contacts {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 40px;
}
.header-container {
  display: flex;
}
.header-link:focus {
  color: #404bbf;
}
.address {
  font-style: normal;
}
.header-link:hover {
  color: #404bbf;
}
.header-link:active {
  color: #434455;
}
.header-link {
  color: var(--text-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding: 24px 0;
}
.header-contacts-item {
  color: #434455;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  margin-left: 40px;
}
.header-contacts-item :hover {
  color: #404bbf;
}
.header-contacts-item :focus {
  color: #404bbf;
}
.header-menu-item {
  text-decoration: none;
}
.header-contacts-item {
  text-decoration: none;
}
.hero {
  background-color: #2e2f42;
  line-height: 1.07;
  padding: 188px 0;
}
.hero-container {
  background-color: #2e2f42;
  width: 100%;
}
.header-link link {
  text-decoration: none;
}
.hero-btn {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 32px;
  padding-left: 32px;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  background-color: var(--logo-color);
}

.hero-btn:hover {
  background-color: #404bbf;
}
.hero-btn:focus {
  background-color: #404bbf;
}
.hero-name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
  margin-bottom: 48px;
}
.header-nav {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.header-nav link {
  text-decoration: none;
}
.header-title link {
  text-decoration: none;
}
.header-contacts-item:hover {
  color: #404bbf;
}
.header-contacts-item:focus {
  color: #404bbf;
}
.benefits {
  padding: 120px 0;
}
.benefits-li {
  width: calc((100% - 72px) / 4);
}

.benefits-item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  list-style-type: none;
}
.benefits-items {
  display: flex;
  gap: 24px;
}
.benefits-item {
  margin-bottom: 8px;
}
.benefits-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}
.job {
  padding-bottom: 120px;
}
.job-name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 72px;
}
.job-img {
  list-style-type: none;
  display: flex;
  gap: 24px;
}
.footer-logo-name {
  color: #f4f4fd;
}
.team-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 72px;
}
.team-item {
  list-style-type: none;
  display: flex;
  gap: 24px;
}
.team-item-links {
  background-color: #ffffff;
  width: 264px;
  height: 380px;
  max-width: 264px;
  max-height: 380px;
  text-align: center;
  border-radius: 0px 0px 4px 4px;
}
.team {
  background-color: #f4f4fd;
  padding-bottom: 120px;
  padding: 120px 0;
}
.team-name-item {
  padding: 32px 16px;
}
.team-name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}
.team-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
  margin-bottom: 32px;
  text-align: center;
}
.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-logo-name {
  color: #f4f4fd;
}
.footer-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
  margin-top: 16px;
}
.header-title link {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-color);
  margin-right: 76px;
  margin-bottom: 16px;
}

/* Porfolio */
.portfolio-button-item {
  background-color: #f4f4fd;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  text-decoration: none;
  cursor: pointer;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.portfolio-button-item:hover {
  background-color: #404bbf;
  color: #ffffff;
}
.portfolio-button-item:focus {
  background-color: #404bbf;
  color: #ffffff;
}
.portfolio-button-item:active {
  background-color: #404bbf;
  color: #ffffff;
}
.portfolio-button-list {
  list-style-type: none;
}
.main-list {
  list-style-type: none;
  text-decoration: none;
}
.main-list-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.main-list-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}
.main-link {
  text-decoration: none;
}
